---
import Layout from '../../layouts/fr/BlogPost.astro';
---

<Layout
	title="À propos"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('January 01 2024')}
>
	<p>
		D'une personne parmi tant d'autres sur Internet...
	</p>
	<p>
		S'il-vous-plaît ne prenez pas ça trop sérieusement, on est tous une belle gang de plein de marde de toute façon... :-) 
	</p>
</Layout>
